// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Bulma
@import "node_modules/bulma/bulma.sass";
// Variables
@import "variables";

.icon > i {
  color: $primary-color;
}

label.checkbox {
  display: block;
}

nav.navbar {
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 24px;
}